body {
  margin: 0;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1d2637;
}
.App{display: flex;
flex-direction: column;}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.title-bar {
  display: flex;
  margin: 30px;
  margin-top:60px;
  justify-content:space-between;
}
.menu-icon {
  background-image: url(layers/Title_bar/menu_icon.png);
  background-repeat: no-repeat;
  height: 30px;
  width: 40px;
 
}
.dashboard {
  background-image: url(layers/Title_bar/dashboard.png);
  background-repeat: no-repeat;
  height: 30px;
  width: 170px;
}
.refresh{
  background-image: url(layers/Title_bar/refresh.png);
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}